<section class="loading" *ngIf="loading">
    <picture>
        <img src="./../../../assets/gifs/loading-9.gif" alt="Cargando grafico">
    </picture>
</section>

<section class="graphic">
    <iframe title="prueba" class="enbebided"
        src="https://app.powerbi.com/view?r=eyJrIjoiZmRlNjNhMGUtY2I0MC00OTU2LTk3ZDctZGVjYmJhZDVkNjQ2IiwidCI6IjE3YTkyM2I0LTZmM2UtNDc2Ny05OGI2LWRmZjE1NzJiNmZiNyJ9"
        frameborder="0" allowFullScreen="true"></iframe>
</section>