.loading {
  position: absolute;
  z-index: 99;
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: #fffef7;
  img {
    width: 200px;
  }
}

.enbebided {
  width: 100vw;
  height: 99vh;
}
